<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="site-header">
    <!--  Nombre del sitio  -->
    <h1 class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </h1>

    <!--  Menú  -->
    {% include nav.html %}
  </header>

  <main class="site-main">
    {{ content }}
  </main>

  <footer class="site-footer">
    © {{ "now" | date: "%Y" }} — Realizado por el Dream Team.
  </footer>

  <!-- scripts del sitio (p. ej. light-box) -->
  <script src="{{ '/assets/js/lightbox.js' | relative_url }}"></script>
</body>
</html>
