<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} – {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <header class="site-header">
      {% include nav.html %}
    </header>

    <main class="site-main">
      {{ content }}
    </main>

    <footer class="site-footer">
      © {{ site.time | date: '%Y' }} – Web de Narrativa
    </footer>

    <!--  ⬇️ nuevo script light-box  -->
    <script src="{{ '/assets/js/lightbox.js' | relative_url }}"></script>
  </body>
</html>
